.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.modal {
    position: fixed;
    width: 85%;
    height: 40vh;
    top: 30vh;
    left: 9%; 
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .modal {
        top: 10vh;
        left: 4%;
        width: 95%;
    }
}

