@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("ttf"),
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("ttf"),
      url("./fonts/Poppins-Light.ttf") format("ttf")
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Semibold.ttf") format("ttf"),
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #fb9fb0 #0c0c0c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #0c0c0c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fb9fb0;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }  

.App {
  overflow-x: hidden;
}