

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #fb9fb0 #0c0c0c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #FFFFD0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FE4E83;
    border-radius: 0;
    border: 0px solid #ffffff;
  }  

.App {
  overflow-x: hidden;
}